
								
#dashboard .header{border-bottom:1px solid #d5d5d5;}
#dashboard .header-wrapper{padding:20px;}				

#dashboard .content{/*height:auto !important; min-height:400px; _height:400px;*/}
#dashboard .content .menu-icon{margin-left:25px; list-style:none;}
#dashboard .content .menu-icon li{display:inline; margin-left:25px; float:left; padding:20px 25px 10px 10px; position:relative;}
#dashboard .content .menu-icon li span.reminder{position:absolute; top:20px; right:5px; padding:0px 5px; border:1px solid #9d1a1a; background-color:#c04343; color:white; font-weight:bold;
										-moz-border-radius:4px; -webkit-border-radius:4px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;}
#dashboard .content .menu-icon li span.reminder em{position:absolute; bottom:-7px; left:2px; width:7px; height:8px; background:transparent url(../css/img/dashboard/reminder-bg.png) no-repeat scroll 0 0; *background:none;}
#dashboard .content .menu-icon li a{display:block; margin-top:10px; text-align:center;}
#dashboard .content .menu-icon li a:hover{text-decoration: none;}
#dashboard .content .menu-icon li a span{display:block; width:60px; height:47px; margin-bottom:10px;}
#dashboard .content .menu-icon li a em{margin-bottom:20px; font-style:normal;}
#dashboard .content .menu-icon li a.team span{background:transparent url(../css/img/dashboard/icon-menu.png) no-repeat scroll left top;}
#dashboard .content .menu-icon li a.team span:hover{background-position:left -48px;}
#dashboard .content .menu-icon li a.project span{background:transparent url(../css/img/dashboard/icon-menu.png) no-repeat scroll left -93px;}
#dashboard .content .menu-icon li a.project span:hover{background-position:left -141px;}
#dashboard .content .menu-icon li a.recruit span{background:transparent url(../css/img/dashboard/icon-menu.png) no-repeat scroll left -187px;}
#dashboard .content .menu-icon li a.recruit span:hover{background-position:left -234px;}
#dashboard .content .menu-icon li a.qa span{background:transparent url(../css/img/dashboard/icon-menu.png) no-repeat scroll left -281px;}
#dashboard .content .menu-icon li a.qa span:hover{background-position:left -328px;}
#dashboard .content .menu-icon li a.mail span{background:transparent url(../css/img/dashboard/icon-menu.png) no-repeat scroll left -374px;}
#dashboard .content .menu-icon li a.mail span:hover{background-position:left -421px;}
#dashboard .content .menu-icon li a.account span{background:transparent url(../css/img/dashboard/icon-menu.png) no-repeat scroll left -469px;}
#dashboard .content .menu-icon li a.account span:hover{background-position:left -517px;}
#dashboard .content .menu-icon li a.contacts span{background:transparent url(../css/img/dashboard/icon-menu.png) no-repeat scroll left -570px;}
#dashboard .content .menu-icon li a.contacts span:hover{background-position:left -624px;}
#dashboard .content .menu-icon li a.admin span{background:transparent url(../css/img/dashboard/icon-menu.png) no-repeat scroll left -675px;}
#dashboard .content .menu-icon li a.admin span:hover{background-position:left -726px;}



